body {
  background-color: #f0f0f0;
  font-family: "Proza Libre", sans-serif;
}

header {
  background-color: #552782;
  color: white;
}

h3 {
  font-weight: normal;
}

img,
input,
textarea {
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}

input,
textarea {
  border: 1px solid gray;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

label {
  font-weight: bold;
  margin-bottom: 0.75rem;
}

img,
label,
input,
textarea {
  display: block;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #552782;
}

#overlay {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 75%);
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: white;
  width: fit-content;
  border-radius: 0.25rem;
  padding: 1rem;
}

#cancel-button,
#confirm-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  margin-top: 1rem;
}

#cancel-button {
  background-color: #b7b7b7;
}

#confirm-button {
  background-color: #dd2121;
  color: white;
}

#entries-button,
#save-button,
#new-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: #552782;
  color: white;
  border-radius: 0.25rem;
  text-decoration: none;
}

#newest-first-button,
#oldest-first-button {
  font-size: 0.75rem;
  border: 1px solid black;
  background-color: #552782;
  color: white;
  text-decoration: none;
}

#newest-first-button {
  padding-top: 0.25rem;
  padding-right: 0.1rem;
  padding-left: 0.5rem;
  border-radius: 50% 0 0 50%;
}

#oldest-first-button {
  padding-top: 0.25rem;
  padding-right: 0.5rem;
  padding-left: 0.1rem;
  border-radius: 0 50% 50% 0;
}

.active {
  font-weight: bold;
  padding-bottom: 0.3rem;
}

.inactive {
  padding-bottom: 0.25rem;
}

#delete-button {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #dc2828;
  border: none;
  font-size: 1rem;
}

ul {
  padding: 0%;
}

h2 {
  margin-top: 0;
}

p {
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  line-height: 1.5rem;
  white-space: pre-line;
}

i {
  color: #552782;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
}

.center {
  text-align: center;
}

@media screen and (max-width: 767px) {
  img {
    height: 30vh;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  img {
    height: 100%;
  }

  button:hover,
  i:hover {
    cursor: pointer;
  }
}
